#contact  {
   background: transparent;
   /* padding-top: 96px; */
   padding-bottom: 102px;
   color: #636363;
}
  .section-head { margin-bottom: 42px; }

  /* a,   a:visited  { color: #11ABB0; }
  a:hover,   a:focus { color: #fff; } */

  h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}
  h1 span { display: none; }


  h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
  p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
  .header-col { padding-top: 6px; }


/* contact form */
  form { margin-bottom: 30px; }
  label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
	display: inline-block;
	float: left;
   width: 26%;
}
  input,
  textarea,
  select {
   padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
  input:focus,
  textarea:focus,
  select:focus {
	color: #fff;
	background-color: #11ABB0;
}
  button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #0D0D0D;
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 3px;
   margin-left: 26%;
   padding: 15px;
}
  button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
  span.required {
	color: #11ABB0;
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


